.center-text {
    text-align: center;
}

.center-text h3{
    text-align: center;
    font-weight: bold;
}


body { 
    padding-top: 70px; 
    padding-bottom: 70px;
}


.jumbotron h1{
    font-size: 50px;
    font-weight: bold;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.img-profile {
    height: 150px;
    width: 150px;
}

.panel-mtt{
    min-height: 200px;
    text-align: center;
}

@media screen and (min-width: 1000px){
   .equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
    } 
}

@media screen and (min-width: 700px){
    .mobile {
        display: none;
    }
}



.panel-tier .panel-heading h3{
    font-weight: bold;
    text-align:  center;
}

.panel-body {
    height: 130px;
}

.navbar-logo {
    height: 20px;
}